<HTML>
  <body>
    <h1>Create your own Creepy Fictionary!</h1>

    <h3> Add a name for your Creepy Fictionary here:</h3>

    <form action="/dictionary" method="post">
        <label for="dictionary_name">Fictionary</label>
        <input id="dictionary_name" name="dictionary_name" type="text">
          <button name="submit" class="btn btn-warning">Add Fictionary</button>
    </form>

    <h3>  Here are the Fictionaries: </h3>

    <ul>
      <% @dictionaries.each() do |dictionary_name| %>
        <li><a href="/dictionary/<%= dictionary_name.id() %>"><%= dictionary_name.name() %></a></li>
      <% end %>
    </ul>

    <p>We're not creating dictionaries, we're creating <em>fictionaries</em>!</p>
    <p>Created by Carli Martinez and Karvari Ellingson on January 14th, 2015 at Epicodus</p>
  </body>
</html>
